<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/jumbotron/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="http://getbootstrap.com/favicon.ico">

<title>{% block title %}Welcome!{% endblock %}</title>
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
{% block stylesheets %}{% endblock %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Skeletons ONLINE</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {% block menu %}{% endblock %}
        <!--
        <form class="navbar-form navbar-right">  
  <input type="button" value="Construction" href="/construction" id="button_building"/>
  <input type="button" value="Inscription" href="/registration" id="button_registration"/> 
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control" id="input_email">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" id="input_password">
          </div>
    <input type="button" class="btn btn-success" value="Sign In" id="button_login"/>
    -->
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
</br>
</br>
</br>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>

