{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" media="screen" />

{% endblock %}



{% block body %}
<table id="box-table-a" summary="Employee Pay Sheet">
    <thead>
    	<tr>
        	<th scope="col">Location</th>
            <th scope="col">Chef</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for location in map %}    
        <tr>
            <td>{{ location.emplacement }}</td>
            <td>{{ location.character.pseudo }}</td>
            <td>
                <button id="attaquer">Attaquer</button>
                <button id="message">Envoyer un message</button>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>
{% endblock %}

