{% extends 'base.html.twig' %}

<p>Initialisation de la map (si elle est vide) </p>
<button id="init_map" >Lancer</button>


{% block javascripts %}
<script>
$("#init_map").click(function()
    {
        
        
    });
</script>
{% endblock%}